.mailItem-wrapper {
  display: flex;
  padding: 0.5rem 1.75rem;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}
.mailItem-wrapper:hover {
  background-color: rgba(229, 231, 233, 0.4);
}

.mailItem-checkBox {
  display: flex;
  align-items: center;
  width: 0.8125rem;
  height: 0.8125rem;
  border-radius: 0.125rem;
  border: 1px solid #2F3438;
  margin-right: 0.75rem;
}

.mailItem-mailInfo {
  display: flex;
  align-items: center;
}

.mailItem-sender {
  color: #2F3438;
  font-family: "Pretendard Variable";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 4.5rem;
  margin-right: 0.5rem;
}

.mailItem-subject-container {
  width: 8.625rem;
  margin-right: 0.38rem;
}
.mailItem-attachment {
  margin-right: 0.25rem;
}

.mailItem-subject {
  color: #2F3438;
  font-family: "Pretendard Variable";
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mailItem-timestamp {
  color: rgba(114, 114, 114, 0.60);
  font-family: "Pretendard Variable";
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}
