.senderGroupedList-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.senderGroupedList-wrapper P {
  white-space: nowrap;
  font-size: 0.8rem;
}
