.mailTitle{
    width: 289px;
    height: 29px;
    position: absolute;
    top: 10%;
    left: 5%;
    border:none;
    outline: none;
    font-size: 180%;
    font-weight: bold;
}
.mailTitle::placeholder{
    color: #3E3D3D;
}

.recieverTitleContainer{
    display: flex;
    position: absolute;
    top: 19%;
    left: 5%;
    align-items: center;
    padding-left: 2%;
    width: 88%;
    height:6.5%;
    background-color: rgba(205, 217, 245, 0.5);
    font-weight: bold;
    text-align: left;
    border-radius: 50px;
    z-index: 1;
}
.recieverLabel{
    font-weight: lighter;
    color: #3E3D3D;
}
.recieverTitle{
    position: relative;
    margin-left: 2%;
    width: 76%;
    height: 80%;
    font-weight: bold;
    color: #3E3D3D;
    border:none;
    outline: none;
    background-color: rgba(205, 217, 245, 0.1);
}

.toMeText {
    position: absolute;
    display: flex;
    right: 3%;
    padding-left: 2%;
    color: #748EEE;
}
.isToMe {
    position: absolute;
    display: flex;
    right: 10.5%;
    border-color: #748EEE;
    outline: none;
    
}

.refTitleContainer {
    display: flex;
    position: absolute;
    top: 26.5%;
    left: 5%;
    align-items: center;
    padding-left: 2%;
    width: 88%;
    height:6.5%;
    background-color: rgba(205, 217, 245, 0.5);
    font-weight: bold;
    text-align: left;
    border-radius: 50px;
    z-index: 1;
}

.refLabel {
    font-weight: lighter;
    color: #3E3D3D;
}

.refTitle {
    position: relative;
    margin-left: 2%;
    width: 76%;
    height: 80%;
    font-weight: bold;
    color: #3E3D3D;
    border:none;
    outline: none;
    background-color: rgba(205, 217, 245, 0.1);
}

.attachedContainer{
    display: flex;
    position: absolute;
    top: 34%;
    left: 5%;
    align-items: center;
    padding-left: 2%;
    width: 88%;
    height: 15%;
    background-color: rgba(205, 217, 245, 0.5);
    font-weight: bold;
    text-align: left;
    border-radius: 15px;
    z-index: 1;
}

.attatchedIcon{
    position: absolute;
    display: flex;
    top: 10%;
    left: 2%;
    width: 2.5%;
}

.attachedLabel{
    position: absolute;
    display: flex;
    top: 10%;
    left: 5.5%;
    color: #3E3D3D;
    font-size: 1.2rem;
    font-weight: lighter;
    opacity: 0.3;
}

.switchContainer {
    position: absolute;
    width: 88%;
    height: 6%;
    top: 52%;
}

.aiOnLogo {
    position: absolute;
    display: flex;
    top: 40%;
    left: 0.5%;
}

.aiText {
    position: relative;
    display: flex;
    top: 40%;
    left: 2.5%;
    font-weight: bold;
    background: linear-gradient(90deg, #D692F8 0%, #6C57F3 6.81%, #5F6FFC 17.15%);
    backgroud-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.aiToggleSwitch {
    position: relative;
    display: flex;
    bottom: 0.4em;
    left: 6em;
}

.writeContainer {
    position: absolute;
    display: flex;
    top: 5%;
}