/* 기본 스타일 (모바일 우선 접근 방식) */
.mailTitle {
    width: 60vw;
    height: 29px;
    position: absolute;
    top: 4%;
    left: 6%;
    border: none;
    outline: none;
    font-family: "SUIT";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mailTitle::placeholder {
    color: #3E3D3D;
    font-family: "SUIT";
}

.infoConainer {
    position: absolute;
    top: 10%;
    left: 6%;
    display: flex;
    flex-direction: column;
    gap: 0.36rem;
    width: 63vw;
    height: 5.6rem;
}

.recieverTitleWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 1.9125rem;
    background-color: rgba(205, 217, 245, 0.5);
    font-weight: bold;
    text-align: left;
    border-radius: 12px;
    z-index: 1;
}

.recieverLabel {
    padding-left: 0.8rem;
    font-weight: lighter;
    color: #3E3D3D;
    font-family: "SUIT";
    font-size: 0.75rem;
}

.recieverTitle {
    position: relative;
    display: inline-block;
    margin-left: 2%;
    top: 40%;
    transform: translateY(-20.8%);
    white-space: nowrap;
    font-weight: bold;
    color: #3E3D3D;
    border: none;
    outline: none;
    background-color: rgba(205, 217, 245, 0.1);
    font-size: 0.75rem;
    overflow: visible;
}

.tagify.recieverTitle {
    border: none;
    outline: none;
}

.tagify {
    width: auto;
    min-height: 44px;
    display: inline-block;
    border: none;
    outline: none;
    white-space: nowrap;
}

.tagify.tagify {
    --tags-disabled-bg: #748EEE;
    --tag-bg: (#748EEE, 80%);
    --tags-focus-border-color: #748EEE;
    --tags-hover-border-color: #748EEE;
    --tag-hover: #748EEE;
    --tag-border-radius: 16px;
    --tag-pad: 0.42em 0.42em;
    --tag-remove-btn-color: #FFFFFF;
}

.tagify.tagify--empty {
    border: none;
    outline: none;
}

.tagify.tagify--focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.tagify__tag {
    position: absolute;
    top: 40%;
    transform: translateY(6%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #748EEE;
    border: none;
    border-radius: 16px;
    z-index: 1;
}

.tagify__tag-text {
    color: #FFFFFF;
    font-family: "SUIT";
    font-weight: bold;
    font-size: 0.75rem;
}

.tagify__tag__removeBtn {
    color: #ff0000;
}

.toMeWrapper {
    position: absolute;
    display: flex;
    left: 88.8%;
    justify-content: flex-start;
    flex-direction: row;
    width: 8vw;
    height: 1rem;
    gap: 0.4rem;
    align-items: center;
}

.toMeText {
    align-items: center;
    color: #748EEE;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 0.8rem;
}

.isToMe {
    align-items: center;
    border-color: #748EEE;
    outline: none;
}

.attachedWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.625rem;
    background-color: rgba(205, 217, 245, 0.5);
    font-weight: bold;
    text-align: left;
    border-radius: 15px;
    z-index: 1;
}

.attatchedIcon {
    width: 1rem;
    height: auto;
    padding-left: 0.8rem;
}

.attachedLabel {
    color: #3E3D3D;
    font-family: "SUIT";
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.3;
    padding-left: 0.4rem;
}

.switchContainer {
    position: absolute;
    top: 25.8%;
    left: 7.2%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.4rem;
    width: 20vw;
    height: 4vh;
    margin-bottom: 3%;
}

.aiOnLogo {
    display: flex;
    width: 0.63475rem;
    height: 0.6875rem;
}

.aiText {
    display: flex;
    font-family: "SUIT";
    font-weight: bold;
    font-size: 0.875rem;
    color: #000000;
}

.aiText.on {
    display: flex;
    font-weight: bold;
    background: linear-gradient(
        90deg,
        #D692F8 0%,
        #6C57F3 33%,
        #5F6FFC 84%,
        #D692F8 100%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 10s linear infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 200% center;
    }
}

.aiToggleSwitch {
    display: flex;
}

.writeContainer {
    position: absolute;
    display: flex;
    bottom: 1.5%;
    flex-shrink: 0;
    font-family: "SUIT";
    font-size: 0.6875rem;
}

.writeContainer.on {
    position: absolute;
    display: flex;
    bottom: 1.5%;
    flex-shrink: 0;
}

.buttonContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    width: 25vw;
    height: 4.8vh;
    left: 50%;
    transform: translateX(-40%);
    bottom: -8%;
}

.reservationButton {
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 18.5px;
    width: 7.75rem;
    height: 2.3125rem;
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 0.9rem;
    box-shadow: 0px 2px 6.6px 0px rgba(0, 0, 0, 0.25);
}

.sendButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18.5px;
    width: 7.75rem;
    height: 2.3125rem;
    cursor: pointer;
    border: none;
    background-color: #748EEE;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.9rem;
    box-shadow: 0px 2px 6.6px 0px rgba(0, 0, 0, 0.25);
}

.compImg {
    position: absolute;
    width: 200%;
    height: 200%;
    z-index: 2;
}

.sendCompContainer {
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.sendCheck {
    position: absolute;
    display: flex;
    top: 40%;
    left: 48%;
}

.sendCompText {
    position: absolute;
    display: flex;
    font-weight: bold;
    top: 50%;
    left: 48%;
}

.loadingText {
    background: linear-gradient(
        90deg,
        #D692F8 0%,
        #6C57F3 33%,
        #5F6FFC 84%,
        #D692F8 100%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 10s linear infinite;
    font-family: "SUIT", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem;
}
