@keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}
@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}
.autoSaveToast {
    position: fixed;
    top: -8%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    animation: slideDown 0.4s ease-out forwards;
    z-index: 99999;
}
.autoSaveToast.hide {
    animation: fadeOut 0.3s ease-in forwards;
}

.mailTitle {
    width: 60vw;
    height: 4vh;
    position: absolute;
    top: 4%;
    left: 6%;
    border: none;
    outline: none;
    font-family: "SUIT";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mailTitle::placeholder {
    color: #3E3D3D;
    font-family: "SUIT";
}

.infoConainer {
    position: absolute;
    top: 10%;
    left: 6%;
    display: flex;
    flex-direction: column;
    gap: 0.36rem;
    width: 63vw;
    height: 12vh;
    align-items: center;
}

.recieverTitleWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 32%;
    background-color: rgba(205, 217, 245, 0.5);
    font-weight: bold;
    text-align: left;
    border-radius: 12px;
    z-index: 1;
}

.recieverLabel {
    padding-left: 0.8rem;
    font-weight: lighter;
    color: #3E3D3D;
    font-family: "SUIT";
    font-size: 0.75rem;
}

.recieverTitle {
    position: relative;
    display: inline-block;
    margin-left: 2%;
    top: 40%;
    transform: translateY(-20.8%);
    white-space: nowrap;
    font-weight: bold;
    color: #3E3D3D;
    border: none;
    outline: none;
    background-color: rgba(205, 217, 245, 0.1);
    font-size: 0.75rem;
    overflow: visible;
}

.tagify.recieverTitle {
    border: none;
    outline: none;
}

.tagify {
    width: auto;
    min-height: 44px;
    display: inline-block;
    border: none;
    outline: none;
    white-space: nowrap;
}

.tagify.tagify {
    --tags-disabled-bg: #748EEE;
    --tag-bg: (#748EEE, 80%);
    --tags-focus-border-color: #748EEE;
    --tags-hover-border-color: #748EEE;
    --tag-hover: #748EEE;
    --tag-border-radius: 16px;
    --tag-pad: 0.42em 0.42em;
    --tag-remove-btn-color: #FFFFFF;
}

.tagify.tagify--empty {
    border: none;
    outline: none;
}

.tagify.tagify--focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.tagify__tag {
    position: absolute;
    top: 40%;
    transform: translateY(6%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #748EEE;
    border: none;
    border-radius: 16px;
    z-index: 1;
}

.tagify__tag-text {
    color: #FFFFFF;
    font-family: "SUIT";
    font-weight: bold;
    font-size: 0.7rem;
}

.tagify__tag__removeBtn {
    color: #ff0000;
}


.toMeText {
    position: absolute;
    right: 1%;
    width: 3.2rem;
    color: #748EEE;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.isToMe {
    position: absolute;
    right: 6%;
    width: 2.4rem;
    border-color: #748EEE;
    margin-right: 0.2rem;
    outline: none;
}

.attachedWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: rgba(205, 217, 245, 0.5);
    font-weight: bold;
    text-align: left;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
}

.attatchedIcon {
    width: 1rem;
    height: auto;
    padding-left: 0.8rem;
}

.attachedLabel {
    color: #3E3D3D;
    font-family: "SUIT";
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.3;
    padding-left: 0.4rem;
}

.switchContainer {
    position: absolute;
    top: 26.2%;
    left: 7.2%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.2rem;
    width: 20vw;
    height: 4vh;
    margin-bottom: 2%;
}

.aiOnLogo {
    display: flex;
    width: 0.63475rem;
    height: 0.6875rem;
}

.aiText {
    display: flex;
    font-family: "SUIT";
    font-weight: bold;
    font-size: 0.875rem;
    color: #000000;
}

.aiText.on {
    display: flex;
    font-weight: bold;
    background: linear-gradient(
        90deg,
        #D692F8 0%,
        #6C57F3 33%,
        #5F6FFC 84%,
        #D692F8 100%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 10s linear infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 200% center;
    }
}

.aiToggleSwitch {
    display: flex;
}

.writeContainer {
    position: absolute;
    display: flex;
    bottom: 1.5%;
    flex-shrink: 0;
    font-family: "SUIT";
    font-size: 0.6875rem;
}

.writeContainer.on {
    position: absolute;
    display: flex;
    bottom: 1.5%;
    flex-shrink: 0;
}

.buttonContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    width: 25vw;
    height: 4.8vh;
    left: 50%;
    transform: translateX(-40%);
    bottom: -8%;
}

.reservationButton {
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 18.5px;
    width: 7.75rem;
    height: 2.3125rem;
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 0.9rem;
    box-shadow: 0px 2px 6.6px 0px rgba(0, 0, 0, 0.25);
}

.sendButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18.5px;
    width: 7.75rem;
    height: 2.3125rem;
    cursor: pointer;
    border: none;
    background-color: #748EEE;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.9rem;
    box-shadow: 0px 2px 6.6px 0px rgba(0, 0, 0, 0.25);
}

.compImg {
    position: absolute;
    width: 200%;
    height: 200%;
    z-index: 2;
}

.sendCompContainer {
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.sendCheck {
    position: absolute;
    display: flex;
    top: 40%;
    left: 48%;
}

.sendCompText {
    position: absolute;
    display: flex;
    font-weight: bold;
    top: 50%;
    left: 48%;
}

.loadingText {
    background: linear-gradient(
        90deg,
        #D692F8 0%,
        #6C57F3 33%,
        #5F6FFC 84%,
        #D692F8 100%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 10s linear infinite;
    font-family: "SUIT", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem;
}

@media ((min-width: 1280px) and (max-width: 1400px)) {
    .mailTitle {
        font-size: 1.33rem;
    }

    .recieverTitle {
        font-size: 0.8rem;
    }
    .recieverLabel {
        font-size: 0.8rem;
        padding-left: 0.85rem;
    }

    .tagify__tag-text {
        font-size: 0.74rem;   
    }

    .toMeText {
        font-size: 0.8rem;
    }

    .attatchedIcon {
        width: 1.06rem;
        height: auto;
        padding-left: 0.85rem;
    }

    .aiOnLogo {
        width: 0.7rem;
        height: 0.76rem;
    }
    .aiText {
        font-size: 0.93rem;
    }
    .writeContainer {
        font-size: 0.73rem;
    }
    .sendButton,
    .reservationButton {
        width: 8.23rem;
        height: 2.45rem;
        font-size: 0.95rem;
    }

}