.MailScreen-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  gap: 1rem;
}

.MailScreen-list {
  flex: 1; 
  flex-basis: 30%;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.MailScreen-preview {
  flex: 2;
  flex-basis: 70%;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}
