@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.formContainer {
    position: relative;
    z-index: 1;
}

.backGround {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 92%;
}

.symbolLogo{
    position: absolute;
    width: 12%;
    height: 12%;
    left: 16%;
    top: 15%;
}

.jobPlaceHolder {
    position: absolute;
    top: 34.5%;
    left: 16%;
    font-family: 'SUIT-Regular';
    font-size: 0.9rem;
}

.inputLine1 {
    position: absolute;
    top: 39%;
    width: 69%;
    z-index: 1;
}
.jobText{
    position: absolute;
    top: 42%;
    left: 16%;
    font-family: 'SUIT-Regular';
    font-size: 0.9rem;
    z-index: 1;
}
.nameInput {
    position: absolute;
    top: 34%;
    left: 36%;
    border: none;
    outline: none;
    font-size: 0.9rem;
    font-family: 'SUIT-Regular';
}
.affiliationInput {
    position: absolute;
    top: 42%;
    left: 36%;
    border: none;
    outline: none;
}

.affiliationInput::placeholder{
    color: #000000;
    font-size: 0.9rem;
    font-family: 'SUIT-Regular';
}

.departmentPlaceHolder {
    position: absolute;
    top: 54%;
    left: 16%;
    font-family: 'SUIT-Regular';
    font-size: 0.9rem;
}

.inputLine2 {
    position: absolute;
    top: 58.5%;
    width: 69%;
    z-index: 1;
}

.departmentInput {
    position: absolute;
    top: 53.5%;
    border: none;
    outline: none;
    font-family: 'SUIT-Regular';
    font-size: 0.9rem;

}

.positionPlaceHolder {
    position: absolute;
    top: 61.5%;
    left: 16%;
    font-family: 'SUIT-Regular';
    font-size: 0.9rem;
}

.positionInput {
    position: absolute;
    top: 61.4%;
    border: none;
    outline: none;
    font-family: 'SUIT-Regular';
    font-size: 0.9rem;
}
.addInfoCompleteButton {
    position: absolute;
    justify-content: center;
    top: 75%;
    background-color: #B5C9F1;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}