.symbolLogo{
    position: absolute;
    width: 12%;
    height: 12%;
    left: 16%;
    top: 15%;
}

.jobPlaceHolder {
    position: absolute;
    top: 34.5%;
    left: 16%;
    font-size: 0.9rem;
}

.inputLine {
    position: absolute;
    top: 40%;
    width: 68%;
    z-index: 1;
}

.addInfoCompleteButton {
    position: absolute;
    justify-content: center;
    top: 75%;
    background-color: #B5C9F1;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}