.completeButton{
    width: 60%;
    height: 8.5%;
    background: #FFFFFF;
    opacity: 60%;
    color:#000000;
    font-weight: bold; 
    border-color: #7facee;
    border-radius: 8;
    font-size: 0.9em;
}